.container{
    display: block;
}
.row{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}
.box{
    width: 150px;
    height: 150px;
    border: 1px solid black;
    border-radius: 10px;
}
button{
    width: 80px;
    height: 40px;
    border-radius: 5px;
    border: none;
    font-weight: bold;
    color: white;
    font-size: 16px;
}