.container{
    display: block;
}
.row{
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
}
.box{
    width: 100px;
    height: 100px;
    background-color: black;
    border: 1px solid black;
    border-radius: 10px;
}